.certifications {
padding: 20px 0;
position: relative;
background-color: black;
text-align: center; /* Center align the content */
}

.certifications h2 {
font-size: 45px; /* Match the font size of the Projects section */
font-weight: 700;
text-align: center;
}

.certifications p {
color: #B8B8B8;
font-size: 18px; /* Match the font size of the Projects section */
line-height: 1.5em;
margin: 0 auto 0 auto;
text-align: center;
width: 56%; /* Optional: matches the width constraint of Projects description */
}

.certifications-bx {
background: #151515;
border-radius: 64px;
text-align: center;
padding: 45px 50px;
}

.certifications-slider {
width: 100%;
margin: auto;
position: relative;
}
/* .certifications-slider img {
width: 30%;
margin: 0 auto 0 auto;
} */

.cert-card {
background: #151515;
border-radius: 12px;
padding: 20px;
text-align: center;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cert-card img {
width: 100%;
border-radius: 8px;
margin-bottom: 15px;
}

.cert-content h4 {
font-size: 18px;
font-weight: 700;
/* margin-bottom: 10px; */
line-height: 1.2;
height: 2.4em;
overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 2; /* Clamp to two lines */
-webkit-box-orient: vertical;
}


.cert-content ul {
list-style-type: none;
height: 4em;
padding: 0;
margin: 0 0 15px;
color: #B8B8B8;
font-size: 16px;
}

.cert-content ul li {
margin-bottom: 5px;
}

.view-cert-button {
padding: 10px 20px;
font-size: 16px;
font-weight: 600;
background-color: #4A2FBD;
color: #fff;
border: none;
border-radius: 6px;
cursor: pointer;
transition: background-color 0.3s ease;
}

.view-cert-button:hover {
background-color: #AA367C;
}

